/** @define Main */

.Main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.Main__propals {
  background-color: $white;
  color: $blackgrey;
  width: 100%;
  border-radius: 4px;
  max-height: 500px;
  overflow-y: scroll;
}

.Main__logo {
  margin-bottom: 32px;
  width: 160px;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  #logo_svg__XMLID_111_ {
    fill: $blackgrey;
  }
}

.Main__proposals {
  color: $blackgrey;
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

.Main__content {
  display: flex;
  flex-direction: column;
  height: 0;
  opacity: 0;
  visibility: hidden;
  animation: show 2s 2s ease-in-out forwards;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  width: calc(100% - 16px);

  @include lg {
    width: 80%;
    margin: 0;
  }
}

.Main__userPropal {
  font-size: 1.1rem;
  text-transform: capitalize;
  padding-top: 8px;
}

.Main__username {
  color: $blackgrey;
  padding: 8px;
  font-weight: 600;
}

.Main__helper {
  background-color: rgba($white, 0.05);
  color: $white;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.Main__helperLine {
  font-size: 0.8rem;
  padding: 4px 0;
}

.Main__helperRemain {
  color: $white;
  font-size: 1rem;
  text-align: center;
  padding: 8px;
}

.Main__movie {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.Main__movieTitle {
  cursor: pointer;
  user-select: none;
  background-color: $lighter-grey;
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid $lightest-grey;

  &:nth-child(odd) {
    background-color: $lightest-grey;
  }
}

.Main__movieCount {
  font-weight: bold;
  font-size: 0.6rem;
  padding: 0 8px;
}

.Main__movieItemTitle {
  font-weight: 600;
  padding-left: 8px;
}

.Main__icon {
  width: 12px;
}

.Main__close {
  margin-left: 8px;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  path {
    fill: $red;
  }
}

.Main__check {
  margin-left: 8px;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  path {
    fill: $lighter-grey;
  }
}

.Main__movieImage {
  max-height: 60px;
}

.Main__userList {
  padding: 0;
  margin: 0;
}
