/* stylelint-disable color-no-hex */
$primary-color: #2a4a8a;
$button-color: #2a8a6a;
$button-color-alt: #38ef7d;
$white: #fff;
$grey: #9b9b9b;
$red: #e66666;
$blackgrey: #333;
$black: #000;
$lighter-grey: #fefefe;
$lightest-grey: #ececec;

/* stylelint-enable color-no-hex */
